@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply bg-gray-100;
  max-width: 1440px;
  height: 140vh;
}

:root {
  --backgroundFooter: #2d3748;
}

.app {
  width: 100%;
  max-width: 1440px;
  min-width: 300px;
  min-height: 100vh;
  max-height: 130vh;
}

.container-header {
  position: relative;
  background-attachment: fixed;
  /* background-size: cover; */
}

.container {
  min-width: 300px;
}

.content-platform {
  width: 35px;
}

.education {
  height: 140px;
}

.image-header {
  max-width: 300px;
  height: 250px;
}

.img-project {
  min-width: 320px;
  height: 320px;
}

.btn {
  @apply bg-purple-500 text-white font-bold rounded border-purple-700 py-2 px-4 border-b-4;
}

.btn_project {
  @apply text-sm;
}

.btn-link {
  @apply bg-green-400 text-white font-bold rounded border-green-700 py-2 px-4 border-b-4;
}

.btn_ver_mas {
  min-width: 210px;
}

.repos-list {
  columns: 2;
  -moz-columns: 2;
  /* column-rule: 1px solid; */
  @apply p-4;
}

.repos-list li {
  /* Propiedad para que la descripcion de un repositorio no se pase a la sig columna */
  break-inside: avoid-column;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* letter-spacing: -0.3em; */
  @apply bg-purple-200 text-purple-700 text-xs p-2 inline-block;
}

.icon-social-network img {
  width: 35px;
  height: 35px;
}

/* .footer {
  height: 200px;
  background-image: url(../../imgs/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: 700px 150px;
} */

@media screen and (max-width: 1440px) {
  .icon-social-network img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .education {
    width: 35rem;
    margin-right: auto;
    margin-left: auto;
  }
  .icon-social-network img {
    width: 38px;
    height: 38px;
  }
  .btn_project {
    @apply w-48 mt-3;
  }
  .icon-social-network img {
    width: 38px;
    height: 38px;
  }
  .content-education-title {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  /* .header_education {
    margin-right: 30px !important;
    margin-left: 30px !important;
  } */

  .content-education-title {
    padding: 0 90px;
  }

  .container-header {
    flex-direction: column;
    text-align: center;
  }

  .text-header {
    display: block;
  }

  .image-header {
    display: block;
    width: 200px;
    height: 200px;
  }

  .container_node {
    flex-direction: column;
    align-items: center;
  }

  .container_formacion {
    @apply h-40;
  }

  article {
    width: 24rem;
  }

  .container_description {
    @apply mt-2;
  }
  .description {
    @apply h-16;
  }

  .education-title {
    @apply text-5xl mt-4;
  }

  .education {
    width: 24rem;
    height: 170px;
    margin-right: auto;
    margin-left: auto;
  }

  .btn {
    @apply mt-1;
  }

  .btns_projects {
    @apply flex-col items-center;
  }

  .btn_project {
    font-size: 14px;
    @apply w-48 mt-3 mr-0;
  }

  .repos-list {
    columns: 1;
    -moz-columns: 1;
    /* column-rule: 1px solid; */
  }
  .icon-social-network img {
    width: 38px;
    height: 38px;
  }
}

@media screen and (max-width: 480px) {
  .btn_project {
    @apply w-40 mt-3;
  }
  .sub-education {
    margin: 0 15px;
  }

  article {
    width: 21rem;
  }
  .education {
    width: 22rem;
  }

  .img-project {
    width: 250px;
    height: 250px;
  }
  .icon-social-network img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 320px) {
  article {
    width: 18rem;
  }
  .education {
    width: 18rem;
  }
}
