

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    @apply bg-gray-100
}

img {
    width: 300px;
    height: 300px;
}

.btn {
    @apply bg-purple-500 text-white font-bold rounded border-purple-700 py-2 px-4 border-b-4;
}

.repos-list {
    columns: 3;
    -moz-columns: 3;
    column-rule: 1px solid;
    @apply p-4;
}

.repos-list li {
    /* Propiedad para que la descripcion de un repositorio no se pase a la sig columna */
    break-inside: avoid-column;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    @apply bg-purple-200 text-purple-700 text-xs p-2 inline-block
}